.intro {
    min-height: 700px;
    background-color: #902923;
}
.navbar {
    background-color: #51291E;
    color: #FFECD1;
}
.navbar a {
    color: #FFECD1;
}
.navbar-toggler {
   background-color: #51291E; 
}
.navbar-toggler-icon {
    color: #FFECD1;
}